/*
!/.config/
/.config/*
!/.config/Cemu
!/.config/retroarch/
/.config/retroarch/*
!/.config/retroarch/config
!/.config/retroarch/retroarch.cfg
!/.local/
/.local/*
!/.local/share/
/.local/share/*
!/.local/share/duckstation
!/.gitignore
!/.gitmodules
!/.mame/
/.mame/cfg/
/.mame/hiscore/
/.mame/nvram/
!/Applications/
/Applications/*
!/Applications/cemu/
/Applications/cemu/*
!/Applications/cemu/install-cemu.sh
!/Applications/citra/
/Applications/citra/*
!/Applications/citra/install-citra.sh
!/Applications/duckstation/
/Applications/duckstation/*
!/Applications/duckstation/install-duckstation.sh
!/Applications/pcsx2/
/Applications/pcsx2/*
!/Applications/pcsx2/install-pcsx2.sh
!/Applications/redream/
/Applications/redream/*
!Applications/redream/install-redream.sh
!/Applications/xemu/
/Applications/xemu/*
!Applications/xemu/install-xemu.sh
!/Applications/xenia/
/Applications/xenia/*
!Applications/xenia/install-xenia.sh
!Applications/yuzu/
/Applications/yuzu/*
!Applications/yuzu/install-yuzu.sh
!/ES-DE/
/ES-DE/*
!/ES-DE/custom_systems/
!/ES-DE/settings/
!/ES-DE/settings/themes
!/ES-DE/settings/themes/*
!/ES-DE/themes/.gitignore
!/ES-DE/themes/art-book-next-kwyxz/
!/ES-DE/themes/epic-noir-kwyxz/
!/README.md
!/scripts/
