/*
/.*
!/.config/
.config/*
!/.config/retroarch/
.config/retroarch/assets/
.config/retroarch/content*.lpl
.config/retroarch/downloads/
.config/retroarch/logs/
.config/retroarch/playlists/logs/
.config/retroarch/records*
.config/retroarch/screenshots/
.config/retroarch/thumbnails/
!/.emulationstation/
.emulationstation/collections/
.emulationstation/es_log.txt*
.emulationstation/gamelists/
.emulationstation/scrapers/
.emulationstation/scripts/
.emulationstation/themes/*
!.emulationstation/themes/steamdeck/
.gitattributes
!/.gitignore
!/.gitmodules
!/.local
.local/*
!/.local/share
.local/share/*
!/.local/share/duckstation/
.local/share/duckstation/*
!/.local/share/duckstation/settings.ini
!/.mame/
.mame/hiscore
.mame/nvram
!/README.md
!/*.sh
!/duckstation/
/duckstation/*
!/duckstation/update.sh
!/redream/
/redream/flash.bin
/redream/redream
/redream/redream.key
/redream/redream.log
/redream/vmu*
!/supermodel/
!/supermodel/Config
/supermodel/supermodel
/supermodel/Supermodel.log
/supermodel/Config/Supermodel.old
