/*
/.*
!/.config/
.config/*
!/.config/Cemu/
!/.config/Cemu/controllerProfiles/
.config/Cemu/settings.xml
!/.config/retroarch/
.config/retroarch/assets/
.config/retroarch/content*.lpl
.config/retroarch/downloads/
.config/retroarch/logs/
.config/retroarch/playlists/logs/
.config/retroarch/records*
.config/retroarch/saves/*
!/.config/retroarch/saves/*.pure.zip
.config/retroarch/screenshots/
.config/retroarch/states/
.config/retroarch/thumbnails/
.gitattributes
!/.gitignore
!/.gitmodules
!/.local
.local/*
!/.local/share
.local/share/*
!/.local/share/duckstation/
.local/share/duckstation/*
!/.local/share/duckstation/settings.ini
!/.mame/
.mame/hiscore
.mame/nvram
!/Applications/cemu/
Applications/cemu/cemu-x64.AppImage
!/Applications/citra/
Applications/citra/*
!/Applications/citra/install-citra.sh
!/Applications/duckstation/
Applications/duckstation/*
!/Applications/duckstation/install-duckstation.sh
!/Applications/pcsx2/
Applications/pcsx2/*
!/Applications/duckstation/install-pcsx2.sh
!/Applications/redream/
Applications/redream/*
!/Applications/duckstation/install-redream.sh
!/Applications/xemu/
Applications/xemu/*
!/Applications/xemu/install-xemu.sh
!/Applications/xenia/
Applications/xenia/*
!/Applications/xenia/install-xenia.sh
!/Applications/yuzu/
Applications/yuzu/*
!/Applications/yuzu/install-yuzu.sh
Applications/*
!/ES-DE/
ES-DE/collections/
ES-DE/es_log.txt*
!/ES-DE/gamelists/
ES-DE/logs/
ES-DE/scrapers/
ES-DE/scripts/
ES-DE/themes/*
!/ES-DE/themes/art-book-next-kwyxz/
!/ES-DE/themes/epic-noir-kwyxz/
!/README.md
!/scripts/
scripts/probe_media.sh.log
