[submodule ".config/retroarch/shaders/Mega_Bezel_Community/Duimon-Mega-Bezel"]
	path = .config/retroarch/shaders/Mega_Bezel_Community/Duimon-Mega-Bezel
	url = https://github.com/Duimon/Duimon-Mega-Bezel.git
[submodule ".config/retroarch/shaders/shaders_slang"]
	path = .config/retroarch/shaders/shaders_slang
	url = https://github.com/libretro/slang-shaders.git
[submodule ".emulationstation/themes/epic-noir-kwyxz"]
	path = ES-DE/themes/epic-noir-kw
	url = https://github.com/kwyxz/epic-noir-kwyxz.git
[submodule ".emulationstation/themes/art-book-next-kwyxz"]
	path = ES-DE/themes/art-book-next-kw
	url = https://github.com/kwyxz/art-book-next-kwyxz.git
[submodule "ES-DE/themes/iconic-es-de-kwyxz"]
	path = ES-DE/themes/iconic-es-de-kwyxz
	url = https://github.com/kwyxz/iconic-es-de.git
