[Desktop Entry]
Comment[en_US]=
Comment=
Exec=sh -c 'curl -L https://raw.githubusercontent.com/kwyxz/steamdeck/main/install-all.sh | bash'
GenericName[en_US]=
GenericName=
MimeType=
Name[en]=Turbocharge Emudeck
Name=Turbocharge Emudeck
Path=
StartupNotify=false
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
